{% extends 'base.html' %}

{% block 'titulo' %}Testando o titulo{% endblock %}

{% block 'conteudo' %} Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
A accusantium, beatae eius id, illo iste modi mollitia nostrum provident quaerat, <br>
quibusdam tempore temporibus vel. Aspernatur dolor fugit iure sapiente soluta?{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>teste blog</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>testando \o/</h1>-->
<!--</body>-->
<!--</html>-->